<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ControlCenterDisplayableChronoControlsProviderConfiguration</key>
	<data>
	eyJDb250cm9scyI6W3siRGlzcGxheU5hbWUiOiLjgrnjg4bjg7zjgrjjg57jg43jg7zj
	grjjg6MiLCJDb250cm9sSWRlbnRpdHkiOiJZbkJzYVhOME1ERFVBUUlEQkFVR0J3cFlK
	SFpsY25OcGIyNVpKR0Z5WTJocGRtVnlWQ1IwYjNCWUpHOWlhbVZqZEhNU0FBR0dvRjhR
	RDA1VFMyVjVaV1JCY21Ob2FYWmxjdEVJQ1ZSeWIyOTBnQUdvQ3d3VkhSNGZKaWRWSkc1
	MWJHelVEUTRQRUJFU0V4UlphVzUwWlc1MFVtVm1WR3RwYm1SVlpYaDBTV1JXSkdOc1lY
	TnpnQUNBQm9BQ2dBZlVGaGNZRUJFYUd4eGZFQkJrWlhacFkyVkpaR1Z1ZEdsbWFXVnlY
	eEFaWTI5dWRHRnBibVZ5UW5WdVpHeGxTV1JsYm5ScFptbGxjbDhRR1dWNGRHVnVjMmx2
	YmtKMWJtUnNaVWxrWlc1MGFXWnBaWEtBQUlBRWdBT0FCVjhRSUdOdmJTNWhjSEJzWlM1
	WGFXNWtiM2ROWVc1aFoyVnlMbU52Ym5SeWIyeHpYeEFYWTI5dExtRndjR3hsTGxkcGJt
	UnZkMDFoYm1GblpYTFNJQ0VpSTFva1kyeGhjM051WVcxbFdDUmpiR0Z6YzJWelh4QVVR
	MGhUUlhoMFpXNXphVzl1U1dSbGJuUnBkSG1pSkNWZkVCUkRTRk5GZUhSbGJuTnBiMjVK
	WkdWdWRHbDBlVmhPVTA5aWFtVmpkRjhRSkdOdmJTNWhjSEJzWlM1M2FXNWtiM2R0WVc1
	aFoyVnlMbk4wWVdkbGJXRnVZV2RsY3RJZ0lTZ3BYeEFTUTBoVFEyOXVkSEp2YkVsa1pX
	NTBhWFI1b2lvbFh4QVNRMGhUUTI5dWRISnZiRWxrWlc1MGFYUjVBQWdBRVFBYUFDUUFL
	UUF5QURjQVNRQk1BRkVBVXdCY0FHSUFhd0IxQUhvQWdBQ0hBSWtBaXdDTkFJOEFtQUNy
	QU1jQTR3RGxBT2NBNlFEckFRNEJLQUV0QVRnQlFRRllBVnNCY2dGN0FhSUJwd0c4QWI4
	QUFBQUFBQUFDQVFBQUFBQUFBQUFyQUFBQUFBQUFBQUFBQUFBQUFBQUIxQT09IiwiQ29u
	dHJvbFR5cGUiOjEsIkNvbnRyb2xEZXNjcmlwdGlvbiI6IuOCueODhuODvOOCuOODnuOD
	jeODvOOCuOODo+OCkuacieWKueOBq+OBmeOCiyIsIkNvbnRyb2xTaXplIjowLCJJZGVu
	dGlmaWVyIjpbIjU2MjEwNDE0LUFDNTUtNENGQS1BMkI0LTZEMDM4OTIyMUVCNyJdLCJQ
	cm9tcHRzRm9yVXNlckNvbmZpZ3VyYXRpb24iOmZhbHNlLCJPdmVycmlkZVNpemVGb3JN
	ZW51QmFyIjpmYWxzZX0seyJEaXNwbGF5TmFtZSI6IuODgOODvOOCr+ODouODvOODiSIs
	IkNvbnRyb2xJZGVudGl0eSI6IlluQnNhWE4wTUREVUFRSURCQVVHQndwWUpIWmxjbk5w
	YjI1WkpHRnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFtVmpkSE1TQUFHR29GOFFEMDVUUzJW
	NVpXUkJjbU5vYVhabGN0RUlDVlJ5YjI5MGdBR29Dd3dWSFI0ZkppZFZKRzUxYkd6VURR
	NFBFQkVTRXhSWmFXNTBaVzUwVW1WbVZHdHBibVJWWlhoMFNXUldKR05zWVhOemdBQ0FC
	b0FDZ0FmVUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJWSlpHVnVkR2xtYVdWeVh4QVpZMjl1
	ZEdGcGJtVnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNsOFFHV1Y0ZEdWdWMybHZia0oxYm1S
	c1pVbGtaVzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFHbU52YlM1aGNIQnNaUzVqYjI1MGNt
	OXNjeTVrYVhOd2JHRjVYeEFYWTI5dExtRndjR3hsTG1OdmJuUnliMnhqWlc1MFpYTFNJ
	Q0VpSTFva1kyeGhjM051WVcxbFdDUmpiR0Z6YzJWelh4QVVRMGhUUlhoMFpXNXphVzl1
	U1dSbGJuUnBkSG1pSkNWZkVCUkRTRk5GZUhSbGJuTnBiMjVKWkdWdWRHbDBlVmhPVTA5
	aWFtVmpkRjhRSkdOdmJTNWhjSEJzWlM1amIyNTBjbTlzY3k1a2FYTndiR0Y1TG1SaGNt
	c3RiVzlrWmRJZ0lTZ3BYeEFTUTBoVFEyOXVkSEp2YkVsa1pXNTBhWFI1b2lvbFh4QVNR
	MGhUUTI5dWRISnZiRWxrWlc1MGFYUjVBQWdBRVFBYUFDUUFLUUF5QURjQVNRQk1BRkVB
	VXdCY0FHSUFhd0IxQUhvQWdBQ0hBSWtBaXdDTkFJOEFtQUNyQU1jQTR3RGxBT2NBNlFE
	ckFRZ0JJZ0VuQVRJQk93RlNBVlVCYkFGMUFad0JvUUcyQWJrQUFBQUFBQUFDQVFBQUFB
	QUFBQUFyQUFBQUFBQUFBQUFBQUFBQUFBQUJ6Zz09IiwiQ29udHJvbFR5cGUiOjEsIkNv
	bnRyb2xEZXNjcmlwdGlvbiI6IuODgOODvOOCr+ODouODvOODieOCkuacieWKueOBq+OB
	meOCi+OBi+OCkuWIh+OCiuabv+OBiCIsIkNvbnRyb2xTaXplIjowLCJJZGVudGlmaWVy
	IjpbIjI5NzdGMjRCLTQ4RUQtNDZGQy05NDY1LThGNEQ4RTE1MzczMiJdLCJQcm9tcHRz
	Rm9yVXNlckNvbmZpZ3VyYXRpb24iOmZhbHNlLCJPdmVycmlkZVNpemVGb3JNZW51QmFy
	IjpmYWxzZX0seyJEaXNwbGF5TmFtZSI6IueUu+mdouOCkuWPluOCiui+vOOCgCIsIkNv
	bnRyb2xJZGVudGl0eSI6IlluQnNhWE4wTUREVUFRSURCQVVHQndwWUpIWmxjbk5wYjI1
	WkpHRnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFtVmpkSE1TQUFHR29GOFFEMDVUUzJWNVpX
	UkJjbU5vYVhabGN0RUlDVlJ5YjI5MGdBR29Dd3dWSFI0ZkppZFZKRzUxYkd6VURRNFBF
	QkVTRXhSWmFXNTBaVzUwVW1WbVZHdHBibVJWWlhoMFNXUldKR05zWVhOemdBQ0FCb0FD
	Z0FmVUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJWSlpHVnVkR2xtYVdWeVh4QVpZMjl1ZEdG
	cGJtVnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNsOFFHV1Y0ZEdWdWMybHZia0oxYm1Sc1pV
	bGtaVzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFIV052YlM1aGNIQnNaUzVqYjI1MGNtOXNj
	eTV6WTNKbFpXNXphRzkwWHhBZFkyOXRMbUZ3Y0d4bExuTmpjbVZsYm5Ob2IzUXViR0Yx
	Ym1Ob1pYTFNJQ0VpSTFva1kyeGhjM051WVcxbFdDUmpiR0Z6YzJWelh4QVVRMGhUUlho
	MFpXNXphVzl1U1dSbGJuUnBkSG1pSkNWZkVCUkRTRk5GZUhSbGJuTnBiMjVKWkdWdWRH
	bDBlVmhPVTA5aWFtVmpkRjhRTEdOdmJTNWhjSEJzWlM1amIyNTBjbTlzY3k1elkzSmxa
	VzV6YUc5MExtTmhjSFIxY21VdGMyTnlaV1Z1MGlBaEtDbGZFQkpEU0ZORGIyNTBjbTlz
	U1dSbGJuUnBkSG1pS2lWZkVCSkRTRk5EYjI1MGNtOXNTV1JsYm5ScGRIa0FDQUFSQUJv
	QUpBQXBBRElBTndCSkFFd0FVUUJUQUZ3QVlnQnJBSFVBZWdDQUFJY0FpUUNMQUkwQWp3
	Q1lBS3NBeHdEakFPVUE1d0RwQU9zQkN3RXJBVEFCT3dGRUFWc0JYZ0YxQVg0QnJRR3lB
	Y2NCeWdBQUFBQUFBQUlCQUFBQUFBQUFBQ3NBQUFBQUFBQUFBQUFBQUFBQUFBSGYiLCJD
	b250cm9sVHlwZSI6MiwiQ29udHJvbERlc2NyaXB0aW9uIjoi44K544Kv44Oq44O844Oz
	44K344On44OD44OI44KS5pKu44KL44Oc44K/44OzIiwiQ29udHJvbFNpemUiOjAsIklk
	ZW50aWZpZXIiOlsiNTcyRDIwNkQtQTc5NC00QTVDLTlBNTUtRjczNEFENUE4RTg4Il0s
	IlByb21wdHNGb3JVc2VyQ29uZmlndXJhdGlvbiI6ZmFsc2UsIk92ZXJyaWRlU2l6ZUZv
	ck1lbnVCYXIiOmZhbHNlfV19
	</data>
	<key>NSStatusItem VisibleCC AudioVideoModule</key>
	<true/>
	<key>NSStatusItem VisibleCC Battery</key>
	<true/>
	<key>NSStatusItem VisibleCC BentoBox-0</key>
	<true/>
	<key>NSStatusItem VisibleCC Clock</key>
	<true/>
	<key>NSStatusItem VisibleCC WiFi</key>
	<true/>
	<key>RemoteLiveActivitiesEnabled</key>
	<true/>
</dict>
</plist>
