<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>expose-group-apps</key>
	<true/>
	<key>loc</key>
	<string>ja_JP:JP</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1558463290</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMIAAAAAQEAAEFwcHMuYXBw
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABcAAAD/
				//8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAAlQIAAP//
				/w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcff
				gC8AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAACHETkAAAAkAAAAAQEAAEM1
				QUMzNUY3LUMyRTAtNEMxQS1BMDBCLTM4OUJDNDI2MkVD
				ORgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
				AQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQ
				AACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAA
				AAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAAAQAA
				AAAAABIgAADwAAAAAAAAABMgAACcAAAAAAAAACAgAAAs
				AQAAAAAAADAgAABYAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.apps.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Apps.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>アプリ</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463291</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3AEAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAD
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAABwAA
				AAEBAABWb2x1bWVzAAcAAAABAQAAUHJlYm9vdAAJAAAA
				AQEAAENyeXB0ZXhlcwAAAAMAAAABAQAAQXBwAAwAAAAB
				AQAAQXBwbGljYXRpb25zCgAAAAEBAABTYWZhcmkuYXBw
				AAAgAAAAAQYAABAAAAAgAAAAMAAAAEAAAABUAAAAEAAA
				AGAAAAB0AAAACAAAAAQDAAAXAAAA////DwgAAAAEAwAA
				dSEKAP///w8IAAAABAMAAAIAAAAAAAAACAAAAAQDAAAQ
				AAAAAAAAAAgAAAAEAwAAEgAAAAAAAAAIAAAABAMAAMUQ
				BwAAAAAACAAAAAQDAADGEAcAAAAAAAgAAAAEAwAAxxAH
				AAAAAAAgAAAAAQYAALAAAADAAAAA0AAAAOAAAADwAAAA
				AAEAABABAAAgAQAACAAAAAAEAABBx8z+foAAABgAAAAB
				AgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAHwAAAAEJ
				AABmaWxlOi8vL1N5c3RlbS9Wb2x1bWVzL1ByZWJvb3Qv
				AAgAAAAEAwAAAACHETkAAAAIAAAAAAQAAEHGyCM1HEro
				JAAAAAEBAAA3N0E5NTk0NS1FRTg3LTQ2MEMtQkM5OS04
				RTQ2QjQ1MTYzNzcYAAAAAQIAAIUAAAABAAAA7xMAAAEA
				AAAAAAAAAAAAABcAAAABAQAAL1N5c3RlbS9Wb2x1bWVz
				L1ByZWJvb3QACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAAEAABBx9+ALwAAACQAAAAB
				AQAAQzVBQzM1RjctQzJFMC00QzFBLUEwMEItMzg5QkM0
				MjYyRUM5GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAABgAAAA/v///wDwAAAAAAAA
				BwAAAAIgAAC8AgAAAAAAAAUgAAA8AgAAAAAAABAgAABM
				AgAAAAAAABEgAABwAgAAAAAAABIgAACwAQAAAAAAABMg
				AABgAgAAAAAAACAgAACcAgAAAAAAAAQAAAADAwAAAPAA
				AAQAAAADAwAAAAAAAAQAAAADAwAAAQAAACQAAAABBgAA
				MAMAADwDAAA8AwAASAMAADwDAAA8AwAAPAMAADwDAAA8
				AwAAqAAAAP7///8BAAAAyAIAAA0AAAAEEAAAiAAAAAAA
				AAAFEAAAMAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEA
				AAAAAAAAIAAAVAMAAAAAAAACIAAAHAIAAAAAAAAFIAAA
				iAEAAAAAAAAQIAAAMAAAAAAAAAARIAAA0AEAAAAAAAAS
				IAAAsAEAAAAAAAATIAAAwAEAAAAAAAAgIAAA/AEAAAAA
				AAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3859772925</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3859772925</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463309</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va4gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxEAAAABAQAAR29vZ2xlIENocm9tZS5hcHAAAAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAABDSAAAAAAAAAgAAAAE
				AwAAF58CAAAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABBx+njPYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAAIcROQAAAAgAAAAA
				BAAAQcffgC8AAAAkAAAAAQEAAEM1QUMzNUY3LUMyRTAt
				NEMxQS1BMDBCLTM4OUJDNDI2MkVDORgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAAAvAAAAAQEAAE5TVVJMQm9va21hcmtRdWFy
				YW50aW5lTW91bnRlZE5ldHdvcmtWb2x1bWVzS2V5ALQA
				AAD+////AQAAAAAAAAAOAAAABBAAAEAAAAAAAAAABRAA
				AHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAA
				AiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAA
				AAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQA
				AAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAA
				AAQAAAAAAAAAVAEAgEwBAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3863560059</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>888627112724</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463315</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwcAAAABAQAARGlhLmFwcAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAABDSAAAAAAAAAgAAAAEAwAAquoGAAAAAAAI
				AAAAAQYAAEQAAABUAAAACAAAAAAEAABBx+x8RoAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAAIcROQAAAAgAAAAABAAAQcffgC8AAAAk
				AAAAAQEAAEM1QUMzNUY3LUMyRTAtNEMxQS1BMDBCLTM4
				OUJDNDI2MkVDORgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAvAAAA
				AQEAAE5TVVJMQm9va21hcmtRdWFyYW50aW5lTW91bnRl
				ZE5ldHdvcmtWb2x1bWVzS2V5ALQAAAD+////AQAAAAAA
				AAAOAAAABBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAA
				AIQAAAAAAAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAA
				BSAAAKQAAAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAA
				AAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQB
				AAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAASAEA
				gEABAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>company.thebrowser.dia</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Dia.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Dia</string>
				<key>file-mod-date</key>
				<integer>3863900557</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>280572602549142</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463292</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAE1lc3NhZ2Vz
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAP0h
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEB
				AABDNUFDMzVGNy1DMkUwLTRDMUEtQTAwQi0zODlCQzQy
				NjJFQzkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.MobileSMS</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>メッセージ</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463293</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMIAAAAAQEAAE1haWwuYXBw
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABcAAAD/
				//8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAA1xwAAP//
				/w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcff
				gC8AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAACHETkAAAAkAAAAAQEAAEM1
				QUMzNUY3LUMyRTAtNEMxQS1BMDBCLTM4OUJDNDI2MkVD
				ORgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
				AQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQ
				AACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAA
				AAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAAAQAA
				AAAAABIgAADwAAAAAAAAABMgAACcAAAAAAAAACAgAAAs
				AQAAAAAAADAgAABYAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.mail</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Mail.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>メール</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463294</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMIAAAAAQEAAE1hcHMuYXBw
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABcAAAD/
				//8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAAsCAAAP//
				/w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcff
				gC8AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAACHETkAAAAkAAAAAQEAAEM1
				QUMzNUY3LUMyRTAtNEMxQS1BMDBCLTM4OUJDNDI2MkVD
				ORgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
				AQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQ
				AACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAA
				AAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAAAQAA
				AAAAABIgAADwAAAAAAAAABMgAACcAAAAAAAAACAgAAAs
				AQAAAAAAADAgAABYAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Maps</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Maps.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>マップ</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463295</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMKAAAAAQEAAFBob3Rvcy5h
				cHAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAKg+
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEB
				AABDNUFDMzVGNy1DMkUwLTRDMUEtQTAwQi0zODlCQzQy
				NjJFQzkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Photos</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Photos.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>写真</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463296</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAEZhY2VUaW1l
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAADkU
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEB
				AABDNUFDMzVGNy1DMkUwLTRDMUEtQTAwQi0zODlCQzQy
				NjJFQzkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.FaceTime</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/FaceTime.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>FaceTime</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463297</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMJAAAAAQEAAFBob25lLmFw
				cAAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAADI9
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEB
				AABDNUFDMzVGNy1DMkUwLTRDMUEtQTAwQi0zODlCQzQy
				NjJFQzkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.mobilephone</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Phone.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>電話</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463298</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAENhbGVuZGFy
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAEIN
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEB
				AABDNUFDMzVGNy1DMkUwLTRDMUEtQTAwQi0zODlCQzQy
				NjJFQzkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>カレンダー</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463299</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAENvbnRhY3Rz
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAOIR
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEB
				AABDNUFDMzVGNy1DMkUwLTRDMUEtQTAwQi0zODlCQzQy
				NjJFQzkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AddressBook</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Contacts.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>連絡先</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463300</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMNAAAAAQEAAFJlbWluZGVy
				cy5hcHAAAAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAE
				AwAAFwAAAP///w8IAAAABAMAABkAAAD///8PCAAAAAQD
				AAARTAAA////DwwAAAABBgAAYAAAAHAAAACAAAAACAAA
				AAAEAABBx9+ALwAAABgAAAABAgAAAgAAAAAAAAAPAAAA
				AAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAAB
				AQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcROQAAACQA
				AAABAQAAQzVBQzM1RjctQzJFMC00QzFBLUEwMEItMzg5
				QkM0MjYyRUM5GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
				AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAJAA
				AAAAAAAAEBAAALQAAAAAAAAAQBAAAKQAAAAAAAAAAiAA
				AFQBAAAAAAAABSAAANQAAAAAAAAAECAAAOQAAAAAAAAA
				ESAAAAgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAKQAAAAA
				AAAAICAAADQBAAAAAAAAMCAAAGABAAAAAAAAENAAAAQA
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.reminders</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Reminders.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>リマインダー</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463301</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMJAAAAAQEAAE5vdGVzLmFw
				cAAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAII5
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEB
				AABDNUFDMzVGNy1DMkUwLTRDMUEtQTAwQi0zODlCQzQy
				NjJFQzkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Notes</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Notes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>メモ</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463302</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMGAAAAAQEAAFRWLmFwcAAA
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABcAAAD/
				//8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAAaF4AAP//
				/w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcff
				gC8AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAACHETkAAAAkAAAAAQEAAEM1
				QUMzNUY3LUMyRTAtNEMxQS1BMDBCLTM4OUJDNDI2MkVD
				ORgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
				AQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQ
				AACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAA
				AAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAAAQAA
				AAAAABIgAADwAAAAAAAAABMgAACcAAAAAAAAACAgAAAs
				AQAAAAAAADAgAABYAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.TV</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/TV.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>TV</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463303</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMJAAAAAQEAAE11c2ljLmFw
				cAAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAP8j
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEB
				AABDNUFDMzVGNy1DMkUwLTRDMUEtQTAwQi0zODlCQzQy
				NjJFQzkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Music</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Music.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>ミュージック</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463304</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMJAAAAAQEAAEdhbWVzLmFw
				cAAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAFwZ
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEB
				AABDNUFDMzVGNy1DMkUwLTRDMUEtQTAwQi0zODlCQzQy
				NjJFQzkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.games</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Games.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>ゲーム</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463305</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMNAAAAAQEAAEFwcCBTdG9y
				ZS5hcHAAAAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAE
				AwAAFwAAAP///w8IAAAABAMAABkAAAD///8PCAAAAAQD
				AAAcAAAA////DwwAAAABBgAAYAAAAHAAAACAAAAACAAA
				AAAEAABBx9+ALwAAABgAAAABAgAAAgAAAAAAAAAPAAAA
				AAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAAB
				AQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcROQAAACQA
				AAABAQAAQzVBQzM1RjctQzJFMC00QzFBLUEwMEItMzg5
				QkM0MjYyRUM5GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
				AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAJAA
				AAAAAAAAEBAAALQAAAAAAAAAQBAAAKQAAAAAAAAAAiAA
				AFQBAAAAAAAABSAAANQAAAAAAAAAECAAAOQAAAAAAAAA
				ESAAAAgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAKQAAAAA
				AAAAICAAADQBAAAAAAAAMCAAAGABAAAAAAAAENAAAAQA
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AppStore</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/App%20Store.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>App Store</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463306</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGwB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMUAAAAAQEAAGlQaG9uZSBN
				aXJyb3JpbmcuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAI
				AAAABAMAABcAAAD///8PCAAAAAQDAAAZAAAA////DwgA
				AAAEAwAAYowAAP///w8MAAAAAQYAAGQAAAB0AAAAhAAA
				AAgAAAAABAAAQcffgC8AAAAYAAAAAQIAAAIAAAAAAAAA
				DwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8M
				AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAACHETkA
				AAAkAAAAAQEAAEM1QUMzNUY3LUMyRTAtNEMxQS1BMDBC
				LTM4OUJDNDI2MkVDORgAAAABAgAAgQAAAAEAAADvEwAA
				AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACo
				AAAA/v///wEAAAAAAAAADQAAAAQQAABQAAAAAAAAAAUQ
				AACUAAAAAAAAABAQAAC4AAAAAAAAAEAQAACoAAAAAAAA
				AAIgAABYAQAAAAAAAAUgAADYAAAAAAAAABAgAADoAAAA
				AAAAABEgAAAMAQAAAAAAABIgAAD8AAAAAAAAABMgAACo
				AAAAAAAAACAgAAA4AQAAAAAAADAgAABkAQAAAAAAABDQ
				AAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.ScreenContinuity</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/iPhone%20Mirroring.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iPhoneミラーリング</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1558463307</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGwB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMTAAAAAQEAAFN5c3RlbSBT
				ZXR0aW5ncy5hcHAADAAAAAEGAAAQAAAAIAAAADQAAAAI
				AAAABAMAABcAAAD///8PCAAAAAQDAAAZAAAA////DwgA
				AAAEAwAAWV0AAP///w8MAAAAAQYAAGQAAAB0AAAAhAAA
				AAgAAAAABAAAQcffgC8AAAAYAAAAAQIAAAIAAAAAAAAA
				DwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8M
				AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAACHETkA
				AAAkAAAAAQEAAEM1QUMzNUY3LUMyRTAtNEMxQS1BMDBC
				LTM4OUJDNDI2MkVDORgAAAABAgAAgQAAAAEAAADvEwAA
				AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACo
				AAAA/v///wEAAAAAAAAADQAAAAQQAABQAAAAAAAAAAUQ
				AACUAAAAAAAAABAQAAC4AAAAAAAAAEAQAACoAAAAAAAA
				AAIgAABYAQAAAAAAAAUgAADYAAAAAAAAABAgAADoAAAA
				AAAAABEgAAAMAQAAAAAAABIgAAD8AAAAAAAAABMgAACo
				AAAAAAAAACAgAAA4AQAAAAAAADAgAABkAQAAAAAAABDQ
				AAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Settings.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>システム設定</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>region</key>
	<string>JP</string>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>tilesize</key>
	<integer>37</integer>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>14</integer>
</dict>
</plist>
