<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleInterfaceStyleSwitchesAutomatically</key>
	<true/>
	<key>AppleLanguages</key>
	<array>
		<string>ja-JP</string>
		<string>en-JP</string>
	</array>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>5400</integer>
	<key>AppleLocale</key>
	<string>ja_JP</string>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>KB_DoubleQuoteOption</key>
	<string>“abc”</string>
	<key>KB_SingleQuoteOption</key>
	<string>‘abc’</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>NSAutomaticCapitalizationEnabled</key>
	<true/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<true/>
	<key>NSCloseAlwaysConfirmsChanges</key>
	<true/>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>ja</string>
		<string>ja_JP</string>
		<string>en</string>
		<string>en_JP</string>
		<string>en_US</string>
		<string>mul</string>
		<string>mul_Latn</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
	</array>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSSpellCheckerDictionaryContainerTransitionComplete</key>
	<true/>
	<key>NSUserDictionaryReplacementItems</key>
	<array/>
	<key>NSUserQuotesArray</key>
	<array>
		<string>“</string>
		<string>”</string>
		<string>‘</string>
		<string>’</string>
	</array>
	<key>com.apple.keyboard.fnState</key>
	<true/>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.trackpad.forceClick</key>
	<true/>
	<key>com.apple.trackpad.scaling</key>
	<real>3</real>
	<key>shouldShowRSVPDataDetectors</key>
	<false/>
</dict>
</plist>
